body {
    margin: 0; /* remove a borda branca do navegador*/
    height: 100vh; /*altura total da tela*/

    background-image: url('../imagens/minha_imagem.jpg');
    background-size: cover; /* Faz a imagem preencher*/
    background-position: center; /* centraliza a imagem*/
    background-repeat: no-repeat; /* evita repetir */
   
}

